<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.d4rk.androidtutorials">
    <uses-permission android:name="android.permission.INTERNET"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
    <application
        android:appCategory="productivity"
        android:description="@string/app_description"
        android:banner="@drawable/banner"
        android:logo="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppThemeActionBar">
        <activity
            android:name=".ui.language.LanguageActivity"
            android:label="@string/language"
            android:screenOrientation="portrait"
            android:exported="false"
            tools:ignore="LockedOrientationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.language.LanguageActivity"/>
        </activity>
        <activity
            android:name=".ui.android.toggle.ToggleCodeActivity"
            android:exported="false"
            android:label="@string/toggle">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.toggle.ToggleCodeActivity"/>
        </activity>
        <activity
            android:name=".ui.android.textbox.TextboxActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/textbox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.textbox.TextboxActivity"/>
        </activity>
        <activity
            android:name=".ui.android.textbox.TextboxCodeActivity"
            android:exported="false"
            android:label="@string/textbox">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.textbox.TextboxCodeActivity"/>
        </activity>
        <activity
            android:name=".ui.android.alertdialog.AlertDialogActivity"
            android:exported="false"
            android:label="@string/alert_dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.alertdialog.AlertDialogActivity"/>
        </activity>
        <activity
            android:name=".ui.android.alertdialog.AlertDialogCodeActivity"
            android:exported="false"
            android:label="@string/alert_dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.alertdialog.AlertDialogCodeActivity"/>
        </activity>
        <activity
            android:name=".ui.permissions.PermissionsActivity"
            android:exported="false"
            android:label="@string/permissions">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.permissions.PermissionsActivity"/>
        </activity>
        <activity
            android:name=".ui.feedback.FeedbackActivity"
            android:label="@string/feedback"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.feedback.FeedbackActivity"/>
        </activity>
        <activity
            android:name=".ui.android.buttons.ButtonsCodeActivity"
            android:exported="false"
            android:label="@string/buttons">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.buttons.ButtonsCodeActivity"/>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.settings.SettingsActivity"/>
        </activity>
        <activity
            android:name=".ui.android.toggle.ToggleActivity"
            android:label="@string/toggle"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.toggle.ToggleActivity"/>
        </activity>
        <activity
            android:name=".ui.android.buttons.ButtonsActivity"
            android:label="@string/buttons"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.buttons.ButtonsActivity"/>
        </activity>
        <activity
            android:name=".ui.android.AndroidStartProjectActivity"
            android:label="@string/android_start"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.AndroidStartProjectActivity"/>
        </activity>
        <activity
            android:name=".ui.android.sdk.AndroidSDK"
            android:label="@string/android_sdk"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.android.sdk.AndroidSDK"/>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>
</manifest>